# git ignore file for my windows home directory a bare git repo with gitdir .conf.git

# windows ntfs hidden files PS: (Get-ChildItem -Hidden).Name >> .gitignore
AppData/
Application\ Data/
Cookies/
Local\ Settings/
My\ Documents/
NetHood/
PrintHood/
Recent/
SendTo/
Start\ Menu/
Templates/
NTUSER*

# Directories to ignore PS: (Get-ChildItem -Directory).Name >> .gitignore
.conf.git/
.vscode/
3D Objects/
Contacts/
Desktop/
Documents/
Downloads/
Favorites/
Music/
OneDrive/
Pictures/
scoop/
Searches/
Videos/

# Directories with exclusions
!Documents/PowerShell/
!Documents/PowerShell/*
Documents/PowerShell/Help/
.wslconfig
.bash_history
C:\Users\Mike\bz*
C:\Users\Mike\config*
Docs/
bzImage*
