.android/
.bash_history
.cache/
.conf.git/
.config/scoop/
.git/
.gnupg/
.lesshst
.obs32/*.Metrics
.p4merge/
.ssh/
.viminfo
.vscode-insiders/
.vscode/*
.vscode/extensions/*
.vscode/extensions/windows-used-extensions.json__!
.vscode/extensions/linux-used-extensions.json__!
.wsl*
.zenmap/*
.zenmap/zenmap.conf__!
.zenmap/saved_scans__!
.zenmap/saved_scans/*__!
3D Objects/
AppData/*
Application Data/
Books/
CaseSens/
Contacts/
Cookies/
DL/
Desktop/
Doc/
Docs/
Docs_sym/
Documents/*
Documents/PowerShell__!
Documents/PowerShell/*__!
Documents/PowerShell/Help/
Documents/Powershell/Modules/*
Documents/Powershell/Scripts/*
Documents/WindowsPowerShell/__!
Downloads/
Dropbox/
FastCopy/
Favorites/
IntelGraphicsProfiles/
Links/
Local Settings/
Mus/
Music/
My Documents/
NTUSER*
NetHood/
OneDrive/
Pics/
Pictures/
Portables/
PrintHood/
Recent/
Recorded Calls/
Saved Games/
Searches/
SendTo/
Start Menu/
Templates/
Tracing/
Videos/
Vids/
Virtual Machines/
_viminfo
bz*
certs/
config*
git/
navdb.csv
ntuser*
scoop/
terminal-config-backup.json
test*
vscode-remote-wsl/
*.log
*~
